<div class="bg-tech">
    <div class="row">
        <div class="col-md-6 offset-1">
            <h3 class="text-white mb-5"><span class="text-secondary">03</span> SPACE LAUNCH 101</h3>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="tech-number bg-white"><span class="text-black">1</span></div>
                    <div class="tech-number"><span>2</span></div>
                    <div class="tech-number"><span>3</span></div>
                </div>
                <div class="col-md-9 mt-5">
                    <span class="text-white">THE TERMINOLOGY...</span>
                    <h1 class="text-white tech-tittle">LAUNCH VEHICLE</h1>
                    <p class="text-white mt-4 tech-p">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
                    surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing
                    150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-1">
            <div class="tech-img">
                <img src="../../../assets/img-tech.jpg" width="100%">
            </div>
        </div>
    </div>
</div>
