<div class="seccion">
    <div class="content">
        <div class="title-img">
            <h1>
                <span>0 1 </span> P I C K&nbsp;&nbsp;&nbsp;Y O U R&nbsp;&nbsp;&nbsp;D E S T I N A T I O N
            </h1>
            <img src="../../../assets/image-mars.png" alt="" />
        </div>
        <div class="seccion-mars">
            <div class="header-mars">
                <button>M O O N</button>
                <button class="activo">M A R S</button>
                <button>E U R O P A</button>
                <button>T I T A N</button>
            </div>
            <div class="mars">
                <div class="content-mars">
                    <h1>M A R S</h1>
                    <p>Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest 
                        planetary mountain in our solar system. It’s two and a half times the size of Everest!!
                    </p>
                    <hr/>
                    <div class="info-mars">
                        <div class="info-box">
                            <h2>AVG. DISTANCE</h2>
                            <span>225 MIL. KM</span>
                        </div>
                        <div class="info-box">
                            <h2>EST. TRAVEL TIME</h2>
                            <span>9 MONTHS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>